*{
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
} 
a{
    text-decoration:none;
}            
.padre{
    display: flex;
    flex-flow: column nowrap
}
.margen-interno{
    padding: 0 50px;

}
.header{
    background: url(../Imagenes/fondo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: rgba(0,0,0,.5);
        display: flex;
        flex-flow: row nowrap;
        height: 150px;
        align-items:center;
        border-bottom: 2px solid rgba(255,255,255,.5 alpha);
        padding: 50px;
    }
        .logo{
            flex: 1 1 auto;
        }
        .logo a{
            color: #fff;
            font-size: 30px;
        }
        .logo a:hover{
            color: #F68989;
        }
        .nav{
            flex: 5 1 auto;
        }
        .nav a{
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
        .nav a:hover{
            color: #F68989;
        }
        .social{
            flex:1 1 auto;
            display: flex;
            padding: 2px;
        }
        .social a{
            font-size: 1.5rem;
            color: #fff;
        }
        .social a:hover{
            color: #F68989;
        }
        .texto-principal{
            height: 580px;
            display: flex;
            align-items: center;
        }
        h1{ 
            font-family:'Lora', serif;
            font-size: 1.5rem;
            color: #fff;

            font-weight: 300;
            text-align: center;
            line-height: 1.6;
        }
.section{
    background: #f7f7f7;
    display: flex;
}
    .articulos{
        background: #f7f7f7;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
    .article{
        flex: 1 1 40%;
        color: #444;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 10px 10px 0 0px;
        flex: 1 1 45%;
        background: #ececec;
    }
    .article img{
        width: 100%;
    }
    .article a{
        color: #fff;
        font-size: 13px;
        padding: 10px;
        background: #000;
        margin: 15px 10px;
        display: inline-block;
    }
    .article a:hover{
        background: #546cc3;
    }
    h3{
        color: brown;
        font-size: 1rem;
        padding: 10px 0;
        margin-top: -10px;
        margin-left: 15px;
    }

    .navegacion{
        background: #000;
        flex: 1 1 100%;
        margin: 10px 10px 0 0px;
    }
    .navegacion a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }

    .aside{
        flex: 1 1 auto;
        margin: 10px 10px 0 0px;
    }
    .aside img{
        width: 100%;
    }
    h4{
        background: #000;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
    }

    .publicidad{
    }
.footer{
        background: #111;
        display: flex;
        justify-content: center;
        margin-top: 10px;
}
.volver-contacto{
    display: flex;
    margin:auto;
}

.volver-nosotros{
    display: flex;
    margin:auto;
}
    
    .pie{
        width:500px;
        text-align: center;
    }
    .pie a{
        color: #ececec;
        font-size: 11px;
        padding: 0 10px;
        letter-spacing: 2px;
    }

    @media all and (max-width: 1140px){
        .section{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .social{
            flex-direction: row;
            height: auto;
        }
        .aside{
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        h1{
            font-size: 16px;
        }
        .texto-principal{
            height: 450px;
        }
        h3{
            font-size: 13px;
        }
    }

    @media all and (max-width: 918px){
        .off{
            display: none;
        }
        .nav a{
            font-size: 20px;
        }
        .social a{
            font-size: 20px;
        }
    }

    @media all and (max-width: 600px){
        .articulos{
            flex-direction: column;
        }
    }

    @media all and (max-width: 444px){
        .aside{
            flex-direction: column;
        }
        .texto-principal{
        height: 600px;
        font-size: 5px;
        }
    }


    /*nosotros*/



.contenedor__nos{
	background: antiquewhite;
	margin: auto;
	margin-top: 20px;
	width: 100;
	padding: 20px;
	margin-bottom:  200px;
}

.contenedor__nos2{
	background: antiquewhite;
	margin: auto;
	margin-top: 20px;
	width: 100;
	padding: 20px;
	margin-bottom:  200px;
}


.contenedor__nos img{
	max-width: 100;
	height: auto;
	float: right;
	width: 350px;
	margin-left: 18px;
}

.contenedor__nos2 img{
	max-width: 100;
	height: auto;
	float: left;
	width: 350px;
	margin-left: 18px;
}  

.contenedor__nos-h2{
	color: #b22a1c;
	padding: 15px 15px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200px;
	text-align: center;	
}

.contenedor__nos2-h2{
	color: #b22a1c;
	padding: 15px 15px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200px;
	text-align: center;	
}

.contenedor__cuenta-h2 p{
	color: black;
}

.h3__cuenta{
	padding: 20px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200px;
	text-align: left;	
}

@media all and (max-width: 769px){
        .contenedor__nos{
            display: flex;
        flex-direction: column;
        align-items: center;
        }
        .contenedor__nos-h2{
            display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20PX;
        font-size: 13px;
        }
        .contenedor__nos2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contenedor__nos2-h2{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            font-size: 13px;
        }
        }

/* Productos*/

.contenedor{
	width: auto;
    margin: 10px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

    grid-template-areas:  "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer,
.contenedor .{
	padding: 10px;
	border-radius: 4px;
}


.contenedor .contenido{
    background: #fff;
grid-area: contenido;
}

.h1__productos{
    color: #444;
}

.contenedor .sidebar{
	grid-column: 4;
	background: #faa43d;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 10;
    min-height: 100px;
    
grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2{
	background: #55a8fd;
	color: #fff;
    grid-column: span 3;
	height: 150px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 40px;
    grid-row: auto;

}

.contenedor .widget-1{
    grid-area: widget-1;
}

.contenedor .widget-2{
    grid-area: widget-2;
}



.contenedor .footer{
    background: #000;
    color: #fff;
    grid-column: span 4;
    grid-row-start: span 1;
    display: flex;
    justify-content: center;
    grid-area: footer;
}

@media all and (max-width: 768px){
    .contenedor{
        grid-template-areas: "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2 "
                          "footer footer footer";
    }
}



/*Imagenes buques*/

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding: 15px ;
    grid-gap: 5px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3 s;
    transition: all 0.3s;
}

.gallery__img:hover{
    filter: grayscale(0%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;;  

}

.gallery__item{
    position: relative;
}

.gallery__title{
    position: absolute;
    bottom: 0px;
    color: wheat;
    width: 98.7%;
    margin: 2px; 
}

.h1__gallery{
    font-weight: 300;
    color: #b22a1c;
    background-color: #F68989;
}

.mydiv{
    background-color: #F68989;
    position: relative;
    margin: 2px 0;
    width: 100%;
    height: 60px;
    } 

.textos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: column;
}   
.h1__imagenes:before{
    content: "";
    animation: changingTxt 4s linear infinite;
}

@keyframes changingTxt{
    0%{
        content: "Nuestra Flota";
    }
    50%{
        content: "Nuestros Barcos";
    }
    100%{
        content: "Nuestros Emblemas";
    }
}

@media all and (max-width: 1140px){
    .gallery-container{display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .gallery__item:nth-child(9){
        grid-column-start: span 2;
    }
}

@media all and (max-width: 918px){
    .gallery-container{display: grid;
    grid-template-columns: repeat(1, 1fr);
}
    .gallery__item:nth-child(9){
        grid-column-start: span none;
    }
}


/* Contacto*/

.contacto__h1{
	padding: 15px 15px;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: left;
	text-decoration: none;
}

.flex-container{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
    margin: 60px 100px;
    padding: 50px;
}

.form{
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.form__input{
    color: brown;
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    border: none;
    border-bottom: 3px solid brown;
    background-color: transparent;
}

.form__input:focus{
    background: #333);
    outline: none;
    border-bottom: 3px solid black;
}

.form textarea {
    min-height: 140px;
    resize: none;
}



.form__input--boton{
    background-color: brown;
    border-bottom: none;
    padding: 10px;
	min-width: 500px;

}

.fondo__section{
	background-color: #7c1b11;
}

.contacto__h1{
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.fondo-inframe{
    background: antiquewhite;
}

.contacto__h3{
padding: 15px 15px;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
}

.inframe{
    display: flex;
        background: #546cc3;
    width: 100%;
    margin: 30px auto;
}

@media all and (max-width: 1130px){
    .inframe{
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }
.form{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.form__input{
    display: flex;
    color: brown;
    width: 100%;
    border: none;
    border-bottom: 3px solid brown;
    background-color: transparent;
}


.form textarea {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    resize: none;
}



.form__input--boton{
    background-color: brown;
    border-bottom: none;
    padding: 10px;
	min-width: 400px
}

@media all and (max-width: 853px){
    .form__input--boton{
    background-color: brown;
    border-bottom: none;
    padding: 10px;
	min-width: 300px
    }
    .form textarea {
    min-width: 200px;
    resize: none;
}

}


@media all and (max-width: 630px){
    .form__input--boton{
    background-color: brown;
    border-bottom: none;
    padding: 10px;
	min-width: 300px
    }
    .form textarea {
    min-width: 200px;
    resize: none;
}

.contacto__h1{
    display: flex;
    flex-direction: column;

	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
}

.contacto__h3{
      display: flex;
    flex-direction: column;

	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
}  
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 20px auto;

}
}

@media all and (max-width: 400px){
        .form__input--boton{
    background-color: brown;
    border-bottom: none;
    padding: px;
	min-width: 200px
    }
    .form textarea {
    min-width: 100px;
    resize: none;
}

.contacto__h1{
    display: flex;
    flex-direction: column;

	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 50px;
	text-align: center;
	text-decoration: none;
}

.contacto__h3{
      display: flex;
    flex-direction: column;

	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 50px;
	text-align: center;
	text-decoration: none;
}  
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 8px auto;

}

.form__input{
    color: brown;
    width: 70%;
    padding: 3px;
    margin: 1px auto;
    border: none;
    border-bottom: 2px solid brown;
    background-color: transparent;
}

}