/*map-get*/
.aside {
  background-color: #9fd5f1;
  text-align: center;
  font-size: 20px; }

/*mixin*/
.publicidad {
  height: 250px;
  width: 200px; }

/*extend*/
h1.titulo {
  text-transform: uppercase;
  color: white; }

h1.titulo {
  font-size: 25px; }

.footer {
  background: salmon;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  width: 100%; }

.pie {
  width: 100%;
  text-align: center; }
  .pie a {
    color: #ececec;
    font-size: 11px;
    padding: 0 10px;
    letter-spacing: 2px; }

.volver {
  display: flex;
  margin: auto; }

.contacto__h1 {
  background-color: #b22a1c;
  padding: 10px 10px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-decoration: none;
  justify-content: center;
  width: 100%; }

.contacto__h3 {
  padding: 15px 15px;
  color: #b22a1c;
  margin-top: 20px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  text-decoration: none; }

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: antiquewhite;
  width: 90%;
  margin: 60px 100px;
  padding: 50px; }

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px; }
  .forminput {
    color: #b22a1c;
    width: 100%;
    padding: 70px;
    margin: 6px 0px;
    border: none;
    border-bottom: 3px solid #b22a1c;
    background-color: transparent; }
  .form:focus {
    outline: none;
    border-bottom: 3px solid black; }

.form textarea {
  min-height: 150px;
  resize: none; }

.form__input--boton {
  background-color: #b22a1c;
  border-bottom-style: solid;
  padding: 10px;
  min-width: 500px; }
  .form__input--boton:hover {
    background-color: salmon;
    color: #b22a1c; }

.inframe {
  display: flex;
  background: #546cc3;
  width: 90%;
  margin: 30px auto; }

a {
  text-decoration: none; }

.padre {
  display: flex;
  flex-flow: column nowrap; }

.margen-interno {
  padding: 0 50px; }

.header {
  background: url(../Imagenes/fondo.jpg);
  color: #b22a1c;
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap; }

.menu {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  height: 150px;
  align-items: center;
  border-bottom: 2px solid;
  padding: 50px; }

.logo {
  flex: 1 1 auto; }
  .logo a {
    color: #fff;
    font-size: 30px; }
  .logo a:hover {
    color: #F68989; }

.nav {
  flex: 5 1 auto; }
  .nav a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px; }
  .nav a:hover {
    color: #F68989; }

.social {
  flex: 1 1 auto;
  display: flex;
  padding: 2px; }
  .social a {
    font-size: 1.5rem;
    color: #fff; }
  .social a:hover {
    color: #F68989; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  padding: 15px;
  grid-gap: 5px; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3 s;
  transition: all 0.3s; }
  .gallery__img:hover {
    filter: grayscale(0%);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.gallery__item {
  position: relative; }

.gallery__title {
  position: absolute;
  bottom: 0px;
  color: antiquewhite;
  width: 90%;
  margin: 1px 10px; }

.mydiv {
  background-color: #b22a1c;
  position: relative;
  margin: 2px 0;
  width: 100%;
  height: 60px; }

.textos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: column; }

.h1__imagenes:before {
  content: "";
  animation: changingTxt 4s linear infinite; }

@keyframes changingTxt {
  0% {
    content: "Nuestra Flota"; }
  50% {
    content: "Nuestros Barcos"; }
  100% {
    content: "Nuestros Emblemas"; } }

.contenedor__nos {
  margin: auto;
  margin-top: 30px;
  width: 75%;
  padding: 10px; }
  .contenedor__nos img {
    max-width: 100%;
    height: auto;
    float: left;
    width: 350px;
    margin-left: 30px;
    margin-right: 30px; }
  .contenedor__nos h2 {
    color: #b22a1c;
    padding: 15px 15px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left; }
  .contenedor__nos p {
    font-size: 16px; }

.contenedor__nos2 {
  background: antiquewhite;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  padding: 10px; }
  .contenedor__nos2 img {
    max-width: 100%;
    height: auto;
    float: right;
    width: 440px;
    margin-left: 1px;
    margin-top: -85px; }
  .contenedor__nos2 h2 {
    color: #b22a1c;
    padding: 15px 5px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left; }
  .contenedor__nos2 p {
    font-size: 16px; }

.contenedor__nos3 {
  margin: auto;
  margin-top: 40px;
  width: 100%;
  padding: 10px; }
  .contenedor__nos3 img {
    max-width: 100%;
    height: auto;
    float: left;
    width: 340px;
    margin-left: 30px;
    margin-right: 30px; }
  .contenedor__nos3 h2 {
    color: #b22a1c;
    padding: 15px 15px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left; }
  .contenedor__nos3 p {
    font-size: 16px; }

.contenedor__nos4 {
  background: antiquewhite;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  padding: 15px; }
  .contenedor__nos4 img {
    max-width: 100%;
    height: auto;
    float: right;
    width: 450px;
    margin-left: 15px;
    margin-right: 1px;
    margin-top: -80px; }
  .contenedor__nos4 h2 {
    color: #b22a1c;
    padding: 15px 15px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left; }
  .contenedor__nos4 p {
    font-size: 16px; }

* {
  margin: 0px;
  padding: 2px;
  box-sizing: border-box; }

.caja {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  margin: 25px;
  padding: 10px 30px;
  flex: 2 1 auto; }

.cajita {
  flex: 1 1 45%;
  font-size: 13px;
  margin: 25px 25px 0 25px;
  flex: 1 1 45%;
  background: antiquewhite; }

.cajita img {
  width: 95%;
  margin: 20px;
  border: 2px solid #b22a1c;
  box-shadow: 0 0 0 2px white;
  flex: 1 1 45%; }

p {
  font-size: 16px;
  justify-content: center;
  padding: 10px 20px;
  color: #444; }

.h1__productos {
  background-color: #b22a1c;
  padding: 10px 10px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-decoration: none;
  width: 100%; }

.h3__productos {
  color: #b22a1c;
  padding: 10px 10px;
  font-size: 2em;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 100px;
  text-align: center; }

* {
  margin: 0px;
  padding: 2px;
  box-sizing: border-box; }

.texto-principal {
  height: 580px;
  font-size: 1em;
  display: flex;
  align-items: center; }

h1 {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.2); }

.section {
  background: #f7f7f7;
  display: flex; }

.articulos {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap; }

.article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  justify-content: center;
  letter-spacing: 1px;
  margin: 15px 15px;
  flex: 1 1 45%;
  background: #ececec; }
  .article img {
    width: 100%; }
  .article a {
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 15px 10px;
    display: inline-block; }
  .article a:hover {
    background: #546cc3; }
  .article p {
    font-size: 15px;
    margin: 10px; }

.publicidad {
  margin-top: 40px; }

h2 {
  color: brown;
  font-size: 2rem;
  padding: 10px 0;
  margin-top: -10px;
  margin-left: 15px; }

.navegacion {
  background: #000;
  flex: 1 1 100%;
  margin: 10px 10px 0 0px; }
  .navegacion a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px; }

.aside {
  flex: 1 1 auto;
  margin: 10px 10px 0 0px; }
  .asideimg {
    width: 100%; }

h4 {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase; }

.btnPropio {
  background-color: #b22a1c;
  color: #fff; }

.page-link {
  color: #111;
  background-color: #f7f7f7; }
  .page-link:hover {
    color: #7c1b11;
    background-color: #F68989; }

.page-item-disabled {
  color: #fff; }

/*index*/
@media all and (max-width: 1140px) {
  .section {
    flex-direction: column; }
  .menu {
    flex-direction: column;
    height: auto; }
  .social {
    flex-direction: row;
    height: auto; }
  .aside {
    flex-direction: column;
    justify-content: center; }
    .aside img {
      width: 40%; }
  h4 {
    font-size: 30px;
    justify-content: center; }
  h1 {
    font-size: 25px; } }

@media all and (max-width: 980px) {
  .off {
    display: none; }
  .nav a {
    font-size: 20px; }
  .social a {
    font-size: 20px; }
  .aside {
    flex-direction: column;
    justify-content: center; }
    .aside img {
      width: 50%; }
  h4 {
    font-size: 25px;
    justify-content: center; } }

@media all and (max-width: 730px) {
  .articulos {
    flex-direction: column; }
  h1 {
    font-size: 20px; }
  .aside {
    flex-direction: column;
    justify-content: center; }
    .aside img {
      width: 60%; }
  h4 {
    font-size: 20px;
    justify-content: center; } }

@media all and (max-width: 500px) {
  .aside {
    flex-direction: column; }
  h1 {
    font-size: 18px; }
  .aside {
    flex-direction: column;
    justify-content: center; }
    .aside img {
      width: 50%; }
  h4 {
    font-size: 15px;
    justify-content: center; } }

@media all and (max-width: 470px) {
  .aside {
    flex-direction: column; }
  h1 {
    font-size: 15px; }
  .aside {
    flex-direction: column;
    justify-content: center; }
    .aside img {
      width: 40%; }
  h4 {
    font-size: 13px;
    justify-content: center; } }

/*nosotros*/
@media all and (max-width: 994px) {
  .contenedor__nos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor__nos h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
      font-size: 2em; }
    .contenedor__nos p {
      font-size: 16px; }
  .contenedor__nos2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor__nos2 img {
      padding-top: 50px; }
    .contenedor__nos2 h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      font-size: 2em; }
    .contenedor__nos2 p {
      font-size: 16px; }
  .contenedor__nos3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor__nos3 img {
      padding-top: 5px; }
    .contenedor__nos3 h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      font-size: 2em; }
    .contenedor__nos3 p {
      font-size: 16px; }
  .contenedor__nos4 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor__nos4 img {
      padding-top: 50px; }
    .contenedor__nos4 .contenedor__nos4-h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      font-size: 1em; }
    .contenedor__nos4 p {
      font-size: 1em; } }

/*productos*/
@media all and (max-width: 1140px) {
  .h1__productos {
    font-size: 25px; }
    .h1__productos .h3__productos {
      font-size: 1rem; }
  .caja {
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 2px; }
  img {
    flex-direction: column; }
  .cajita {
    flex-direction: column;
    font-size: 16px;
    justify-content: center; } }

@media all and (max-width: 1140px) and (max-width: 910px) {
  .h1__productos {
    font-size: 22px; }
  .h3__productos {
    font-size: 22px; }
  .p {
    font-size: 15px;
    justify-content: center; }
  .caja {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-top: 2px; }
  img {
    flex-direction: column;
    width: 93%; } }

@media all and (max-width: 1140px) and (max-width: 750px) {
  .h1__productos {
    font-size: 20px; }
  .h3__productos {
    font-size: 20px; }
  .p {
    font-size: 10px;
    justify-content: center; }
  .caja {
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 85%;
    margin-top: 2px; }
  img {
    flex-direction: column;
    width: 90%; } }

@media all and (max-width: 1140px) and (max-width: 550px) {
  .h1__productos {
    font-size: 18px; }
  .h3__productos {
    font-size: 18px; }
  .caja {
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 85%;
    margin-top: 2px; }
  img {
    flex-direction: column;
    width: 78%; } }

/*contacto*/
@media all and (max-width: 1130px) {
  .inframe {
    display: flex;
    flex-direction: column;
    max-width: 90%; }
  .form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px; }
    .forminput {
      display: flex;
      color: brown;
      width: 100%;
      border: none;
      border-bottom: 3px solid brown;
      background-color: transparent; }
  .form textarea {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    resize: none; }
  .form__input--boton {
    background-color: brown;
    border-bottom: none;
    padding: 10px;
    min-width: 400px; } }

@media all and (max-width: 1130px) and (max-width: 853px) {
  .form__input--boton {
    background-color: brown;
    border-bottom: none;
    padding: 10px;
    min-width: 300px; }
  .form textarea {
    min-width: 200px;
    resize: none; } }

@media all and (max-width: 1130px) and (max-width: 630px) {
  .form__input--boton {
    background-color: brown;
    border-bottom: none;
    padding: 10px;
    min-width: 300px; }
  .form textarea {
    min-width: 200px;
    resize: none; }
  .contacto__h1 {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    text-decoration: none; }
  .contacto__h3 {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    text-decoration: none; } }

@media all and (max-width: 1130px) {
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 20px auto; } }

@media all and (max-width: 400px) {
  .form__input--boton {
    background-color: brown;
    border-bottom: none;
    padding: px;
    min-width: 200px; }
  .form textarea {
    min-width: 100px;
    resize: none; }
  .contacto__h1 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    text-align: center;
    text-decoration: none; }
  .contacto__h3 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    text-align: center;
    text-decoration: none; } }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  margin: 8px auto; }

.form__input {
  color: brown;
  width: 70%;
  padding: 3px;
  margin: 1px auto;
  border: none;
  border-bottom: 2px solid brown;
  background-color: transparent; }

/*Imagenes*/
@media all and (max-width: 1140px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .gallery__item:nth-child(9) {
    grid-column-start: span 2; } }

@media all and (max-width: 918px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .gallery__item:nth-child(9) {
    grid-column-start: span none; } }
