.footer {
    background: $background-color;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pie {
    width: 500px;
    text-align: center;
    a {
        color: #ececec;
        font-size: 11px;
        padding: 0 10px;
        letter-spacing: 2px;
    }
}
