$colorPrincipal: #b22a1c;
$colorSecundario: salmon;
$Letra: 20px;
$height: 70px;
$background-color: salmon;
$background: url(../Imagenes/fondo2.jpg);

/*map-get*/

$estilos: (
    color: #9fd5f1,
    centro: center,
    tamañofuente: 20px,
);


.aside{
    background-color: map-get($estilos, color );
    text-align: map-get($estilos, centro);
    font-size: map-get($estilos, tamañofuente);  
}

/*mixin*/

@mixin sizes ($ancho, $alto){
    height: $alto;
    width: $ancho;
}

.publicidad{
    @include sizes(200px, 250px)
}

/*extend*/

%titulos {
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
}

h1.titulo {
    font-size: 25px;
    @extend %titulos;
}